/*Animations*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@keyframes move-left {
  0% {
    transform: translateX(-20%);
    opacity: 0; }
  80% {
    transform: translateX(5px);
    opacity: 1; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes move-right {
  0% {
    transform: translateX(20%);
    opacity: 0; }
  80% {
    transform: translateX(-5px);
    opacity: 1; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes move-up {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

* {
  margin: 0px;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600; }

.clearfix {
  content: '';
  display: block;
  clear: both; }

body {
  font-family: "Poppins", sans-serif;
  background: whitesmoke; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left; }
    .row .col:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-1 {
    float: none;
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

/*Header Section*/
header {
  background: orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1000;
  top: 0; }
  header .menu {
    width: 80%;
    margin: auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center; }
    @media (max-width: 1200px) {
      header .menu {
        width: 90%; } }
    @media (max-width: 992px) {
      header .menu {
        width: 100%; } }
    header .menu .logo-text {
      color: whitesmoke;
      font-size: 2rem;
      line-height: 3rem;
      flex-grow: 1; }
      @media (max-width: 992px) {
        header .menu .logo-text {
          margin-left: 2rem; } }
      @media (max-width: 768px) {
        header .menu .logo-text {
          font-size: 30px; } }
      header .menu .logo-text a {
        text-decoration: none;
        color: white; }
        @media (max-width: 768px) {
          header .menu .logo-text a {
            font-size: 25px; } }
    header .menu > ul.nav-links {
      margin: 0;
      padding: 0;
      display: flex; }
      @media (max-width: 992px) {
        header .menu > ul.nav-links {
          background: orange;
          position: absolute;
          flex-direction: column;
          top: 100%;
          z-index: 1000;
          width: 100%;
          max-height: 0;
          transition: max-height 0.5s ease-out;
          overflow: hidden; } }
      header .menu > ul.nav-links > li {
        list-style: none; }
        header .menu > ul.nav-links > li:hover ul {
          display: flex;
          max-height: 600px; }
        @media (max-width: 992px) {
          header .menu > ul.nav-links > li a {
            width: 100%; } }
        header .menu > ul.nav-links > li > ul {
          max-height: 0;
          overflow: hidden;
          margin: 0;
          padding: 0;
          position: absolute;
          background: orange;
          z-index: 100;
          width: 9rem;
          flex-direction: column;
          transition: max-height 0.5s ease-out; }
          @media (max-width: 992px) {
            header .menu > ul.nav-links > li > ul {
              position: relative;
              width: 100%; } }
          header .menu > ul.nav-links > li > ul > li {
            list-style: none; }
            header .menu > ul.nav-links > li > ul > li > a {
              color: whitesmoke;
              text-decoration: none;
              display: inline-block;
              padding: 1rem;
              font-size: 1rem;
              width: 100%; }
              @media (max-width: 992px) {
                header .menu > ul.nav-links > li > ul > li > a {
                  padding-left: 2rem;
                  width: 100%; } }
              header .menu > ul.nav-links > li > ul > li > a:hover {
                background: #F0750F; }
        header .menu > ul.nav-links > li > a {
          text-decoration: none;
          color: whitesmoke;
          display: inline-block;
          padding: 1rem;
          font-size: 1rem;
          text-align: center;
          min-width: 9rem; }
          @media (max-width: 992px) {
            header .menu > ul.nav-links > li > a {
              text-align: left; } }
          header .menu > ul.nav-links > li > a:hover {
            background: #F0750F; }
    header .menu .menu-bar {
      color: whitesmoke;
      font-size: 1.5rem;
      padding: 1rem;
      display: none; }
      @media (max-width: 992px) {
        header .menu .menu-bar {
          margin-right: 1rem;
          display: inline-block; } }
    header .menu #check {
      display: none;
      width: 1rem;
      height: 1rem;
      top: 1rem;
      right: 1rem;
      position: absolute; }
      @media (max-width: 992) {
        header .menu #check {
          display: inline-block;
          margin-right: 1rem;
          opacity: 0; } }
      header .menu #check:checked ~ .menu-bar {
        background: #F0750F; }
      header .menu #check:checked + .nav-links {
        display: flex;
        max-height: 600px; }

/*End Header Section*/
/*Footer Section*/
footer {
  background: black;
  color: whitesmoke;
  padding: 20px; }
  footer .footer-container {
    display: flex;
    flex-direction: column; }
    @media (max-width: 1200px) {
      footer .footer-container {
        width: 90%; } }
  footer .footer-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1; }
    @media (max-width: 992px) {
      footer .footer-main {
        flex-direction: column; } }
    footer .footer-main .column-1 {
      flex-grow: 1; }
      @media (max-width: 992px) {
        footer .footer-main .column-1 {
          padding: 10px 0; } }
      @media (max-width: 575px) {
        footer .footer-main .column-1 {
          display: block;
          width: 100%; } }
      footer .footer-main .column-1 h2 {
        padding: 10px 0;
        font-size: 30px; }
        @media (max-width: 768px) {
          footer .footer-main .column-1 h2 {
            font-size: 1.6rem; } }
      footer .footer-main .column-1 p {
        padding: 10px 0;
        color: #999999; }
        @media (max-width: 768px) {
          footer .footer-main .column-1 p {
            font-size: 0.9rem; } }
      footer .footer-main .column-1 .social {
        font-size: 20px; }
        footer .footer-main .column-1 .social a {
          display: inline-block;
          padding: 10px;
          text-decoration: none;
          color: #999999; }
          footer .footer-main .column-1 .social a:hover {
            color: orange; }
      footer .footer-main .column-1 .newsletter input {
        display: inline-block;
        padding: 10px;
        margin: 10px 0;
        font-size: 16px;
        font-family: inherit;
        height: 56px;
        width: 400px;
        border: 1px solid #dadada; }
        @media (max-width: 575px) {
          footer .footer-main .column-1 .newsletter input {
            display: block;
            width: 100%; } }
      footer .footer-main .column-1 .newsletter button {
        background: orange;
        color: whitesmoke;
        padding: 10px 20px;
        border: none;
        outline: none;
        height: 54px;
        font-size: 16px;
        font-weight: bold;
        padding: 0.8rem 2rem;
        transition: background 0.5s; }
        @media (max-width: 575px) {
          footer .footer-main .column-1 .newsletter button {
            width: 100%;
            display: block; } }
        footer .footer-main .column-1 .newsletter button:hover {
          background: #F0750F; }
    footer .footer-main .column-2 {
      flex-grow: 1;
      padding: 10px; }
      @media (max-width: 992px) {
        footer .footer-main .column-2 {
          padding: 10px 0; } }
    footer .footer-main .column-3 {
      flex-grow: 1;
      padding: 10px; }
      @media (max-width: 992px) {
        footer .footer-main .column-3 {
          padding: 10px 0; } }
  footer .link-widget {
    margin-top: 20px; }
    footer .link-widget ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    footer .link-widget li {
      padding: 0.4rem 0.2rem 0.6rem;
      border-bottom: 1px dashed #dadada; }
      footer .link-widget li a {
        text-decoration: none;
        color: #999999;
        position: relative;
        display: block; }
        @media (max-width: 768px) {
          footer .link-widget li a {
            font-size: 0.9rem; } }
      footer .link-widget li span {
        position: absolute;
        right: 0; }
  footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    padding: 1rem;
    margin-top: 1rem; }
    footer .copyright a {
      text-decoration: none;
      color: #dadada; }
      footer .copyright a:hover {
        color: orange; }

/*End Footer Section*/
/*Sidebar Section*/
.sidebar::after {
  content: '';
  clear: both; }

.sidebar .row {
  background: white; }

.sidebar .sidebar-ads {
  width: 100%;
  text-align: center; }
  @media (max-width: 992px) {
    .sidebar .sidebar-ads {
      display: none; } }
  .sidebar .sidebar-ads img {
    width: 100%; }

.sidebar .trend-course,
.sidebar .review {
  width: 100%;
  padding: 1rem; }

@media (max-width: 992px) {
  .sidebar .trend-course {
    margin-right: 1rem; } }

.sidebar .trend-course img {
  width: 100%;
  margin-bottom: 1rem; }

.sidebar .trend-course a {
  text-decoration: none;
  color: black; }
  .sidebar .trend-course a:hover {
    text-decoration: underline; }

.sidebar .trend-course-title,
.sidebar .recent-reviews-title,
.sidebar .follow-us-title {
  padding: 1rem; }

.sidebar .review.row {
  margin-bottom: 0; }
  @media (max-width: 992px) {
    .sidebar .review.row {
      height: 100px; } }
  @media (max-width: 992px) {
    .sidebar .review.row img {
      width: 100px;
      height: 100%; } }
  .sidebar .review.row .ratings {
    font-size: 0.7rem;
    margin-top: 0.3rem;
    color: #fbb034; }
  .sidebar .review.row a {
    text-decoration: none;
    color: black; }

.sidebar .social {
  margin: 1rem; }
  .sidebar .social a {
    text-align: center;
    padding: 1rem 0; }
  .sidebar .social .facebook {
    background: #3b5998;
    color: whitesmoke; }
  .sidebar .social .twitter {
    background: #1da1f2;
    color: whitesmoke; }
  .sidebar .social .google-plus {
    background: #ea4335;
    color: whitesmoke; }
  .sidebar .social .youtube {
    background: #cd201f;
    color: whitesmoke; }

/*End Sidebar Section*/
/*Hero Section*/
.hero-image {
  margin-top: 56px;
  width: 100%;
  height: 35rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  position: relative; }

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%; }
  .hero-text h1 {
    color: #dadada;
    font-size: 60px;
    letter-spacing: 8px;
    backface-visibility: hidden; }
    @media (max-width: 1200px) {
      .hero-text h1 {
        font-size: 55px;
        letter-spacing: 7px; } }
    @media (max-width: 992px) {
      .hero-text h1 {
        font-size: 50px;
        letter-spacing: 5px; } }
    @media (max-width: 768px) {
      .hero-text h1 {
        font-size: 45px;
        letter-spacing: 3px; } }
    @media (max-width: 575px) {
      .hero-text h1 {
        font-size: 40px;
        letter-spacing: 2px; } }
  .hero-text .move-left {
    animation-name: move-left;
    animation-duration: 1s;
    backface-visibility: hidden; }
  .hero-text .move-right {
    animation-name: move-right;
    animation-duration: 1s;
    backface-visibility: hidden; }
  .hero-text a {
    display: inline-block;
    color: #dadada;
    border: 2px solid orange;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    animation-name: move-up;
    animation-duration: 0.5s; }
    @media (max-width: 1200px) {
      .hero-text a {
        padding: 16px 40px; } }
    @media (max-width: 992px) {
      .hero-text a {
        padding: .9rem 2.5rem;
        font-size: 1rem; } }
    @media (max-width: 768px) {
      .hero-text a {
        padding: 0.8rem 2.2rem;
        font-size: 0.9rem; } }
    @media (max-width: 575px) {
      .hero-text a {
        padding: 0.7rem 2rem;
        font-size: 0.8rem; } }
    .hero-text a::before {
      content: '';
      width: 101%;
      height: 101%;
      position: absolute;
      top: 0;
      left: 0;
      background: orange;
      z-index: -1;
      transform: translateY(-100%);
      transition: transform 0.5s ease-out; }
    .hero-text a:hover:before {
      transform: translateY(0); }

/*End Hero Section*/
.course {
  width: 100%;
  background: white; }
  @media (max-width: 575px) {
    .course {
      padding: 1rem; } }
  .course .course-image {
    margin-right: 1rem; }
    @media (max-width: 575px) {
      .course .course-image {
        width: 100%;
        height: 200px;
        display: block;
        float: none;
        margin-bottom: 1rem; } }
  .course .course-title a {
    text-decoration: none;
    color: black; }
    .course .course-title a:hover {
      text-decoration: underline; }
    @media (max-width: 768px) {
      .course .course-title a {
        font-size: 1.3rem; } }
  .course .course-detail {
    text-align: justify;
    padding-right: 1rem; }
    @media (max-width: 575px) {
      .course .course-detail {
        padding-right: 0; } }
  @media (max-width: 768px) {
    .course .course-content {
      width: 100%;
      display: block;
      float: none; } }
  .course .course-content > a {
    padding: 0.6rem .8rem;
    margin-top: 20px;
    text-decoration: none;
    background: orange;
    color: whitesmoke;
    transition: background 0.5s;
    display: inline-block; }
    .course .course-content > a:hover {
      background: #F0750F; }
    @media (max-width: 992px) {
      .course .course-content > a {
        margin-top: 0.5rem;
        font-size: 0.8rem; } }
    @media (max-width: 768px) {
      .course .course-content > a {
        padding: 0.4rem .6rem;
        font-size: 0.7rem; } }
  @media (max-width: 768px) {
    .course .course-content p {
      font-size: 0.9rem; } }
  .course .badges {
    margin-bottom: .5rem; }
    .course .badges small {
      font-size: 0.8rem;
      color: #999; }
      @media (max-width: 768px) {
        .course .badges small {
          font-size: 0.7rem; } }
    .course .badges small:not(:last-child) {
      margin-right: 1rem; }
    .course .badges small:first-child {
      display: inline-block;
      background: #FF6347;
      color: white;
      padding: 0 .8rem;
      border-radius: 5px; }

/*Pagination*/
.pagination {
  width: 100%;
  height: 100px; }
  .pagination a {
    display: inline-block;
    text-decoration: none;
    background: #dadada;
    color: #777777;
    padding: 0.8rem 1.4rem;
    border-radius: 3px;
    min-width: 42px;
    transition: background 0.5s; }
    @media (max-width: 768px) {
      .pagination a {
        padding: 0.5rem 1rem;
        min-width: 42px;
        text-align: center; } }
    @media (max-width: 575px) {
      .pagination a {
        padding: 0.4rem 0.8rem;
        text-align: center; } }
    .pagination a:hover {
      background: #F0750F;
      color: whitesmoke; }
  .pagination .active {
    background: orange;
    color: whitesmoke; }

/*End Pagination*/
.checkbox-container {
  position: relative;
  cursor: pointer; }
  .checkbox-container input[type='checkbox'] {
    outline: none;
    margin-right: 10px; }
    .checkbox-container input[type='checkbox']:checked ~ .checkmark {
      background: orange; }
    .checkbox-container input[type='checkbox']:checked ~ .checkmark::after {
      display: block; }
  .checkbox-container .checkmark {
    display: inline-block;
    background: #eee;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0px;
    left: 0px; }
    .checkbox-container .checkmark:hover {
      background: #ccc; }
    .checkbox-container .checkmark::after {
      content: "";
      width: 5px;
      height: 10px;
      position: absolute;
      display: none;
      border: solid white;
      border-width: 0px 3px 3px 0px;
      top: 2px;
      left: 6px;
      transform: rotate(45deg); }

.page-title {
  height: 150px;
  background: #dadada;
  display: flex;
  align-items: center;
  margin-top: 56px; }
  .page-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .page-title-content {
    display: flex;
    align-items: center; }
  .page-title-icon {
    display: inline-block;
    background: tomato;
    border-radius: 50%;
    margin-right: 1rem;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .page-title-icon i {
      padding: 1rem;
      color: whitesmoke; }
  .page-title-text h2 {
    margin-right: 1rem; }
  .page-title-text small {
    color: #777777;
    font-style: italic; }
    @media (max-width: 768px) {
      .page-title-text small {
        display: block; } }
  .page-title .breadcrumb a {
    color: black;
    text-decoration: none; }
    .page-title .breadcrumb a:hover {
      color: #F0750F; }
  .page-title .breadcrumb span {
    color: #777777; }

.container, footer .footer-container, .page-title-container {
  width: 80%;
  margin: auto;
  max-width: 1140px; }
  @media (max-width: 1200px) {
    .container, footer .footer-container, .page-title-container {
      width: 90%; } }
  @media (max-width: 575px) {
    .container, footer .footer-container, .page-title-container {
      width: 95%; } }

@media (max-width: 992px) {
  .row .main {
    width: 100%;
    float: none; } }

@media (max-width: 992px) {
  .row .sidebar {
    width: 100%;
    float: none; } }

/*course Section*/
.main .course-ads {
  text-align: center; }

.main .course-ads img {
  width: 100%;
  max-width: 728px; }

/*End course Section*/
.single-course {
  background: white;
  padding: 1rem;
  margin-top: 56px; }
  .single-course img {
    width: 100%;
    margin: 1rem 0; }
  .single-course p {
    text-align: justify; }
  .single-course .share a {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 3px; }
  .single-course .share .facebook {
    background: #3b5998; }
  .single-course .share .twitter {
    background: #1da1f2; }

/*Author Section */
.author {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1rem; }
  .author h3, .author h4 {
    margin-bottom: 1rem; }
  .author .author-content {
    display: flex;
    font-style: italic; }
  .author img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 1rem; }
  .author .author-description p > a {
    color: #ea4335;
    font-weight: bold;
    text-decoration: none; }
  .author .author-social {
    margin-top: 1rem; }
    .author .author-social a:not(:last-child) {
      margin-right: 1rem; }
      .author .author-social a:not(:last-child) .fa-facebook {
        color: #4b6ea9; }
      .author .author-social a:not(:last-child) .fa-twitter {
        color: #1ab2f5; }
      .author .author-social a:not(:last-child) .fa-google-plus {
        color: #d73533; }
      .author .author-social a:not(:last-child) .fa-instagram {
        color: #405de6; }
      .author .author-social a:not(:last-child) .fa-youtube {
        color: #d44638; }

/*End Author Section*/
/*Related Course Section*/
.related-course {
  background: white;
  padding: 1rem;
  margin-top: 1rem; }
  .related-course > h3 {
    margin-bottom: 1rem; }
  .related-course img {
    display: inline-block;
    width: 100%; }
  .related-course a {
    text-decoration: none;
    color: black; }
    .related-course a:hover {
      text-decoration: underline; }

/*End Related Course Section*/
/*Recent Comment Section*/
.recent-comment {
  background: white;
  padding: 1rem;
  margin-top: 1rem; }
  .recent-comment .content {
    display: flex;
    margin-bottom: 1rem; }
    .recent-comment .content img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 1rem; }
    .recent-comment .content h4 {
      display: inline-block;
      margin-right: 1rem;
      font-weight: 500; }
    .recent-comment .content small {
      color: #999999;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 0.7rem; }
    .recent-comment .content p {
      font-style: italic;
      margin-bottom: 1rem; }
    .recent-comment .content a {
      display: inline-block;
      text-decoration: none;
      color: whitesmoke;
      background: linear-gradient(to right, #F0750F 0px, orange 100%) repeat scroll 0 0;
      padding: 5px 15px;
      font-size: .7rem; }
  .recent-comment > h3 {
    margin-bottom: 1rem; }

/*End Recent Comment Section*/
/*Comment Section*/
.comment {
  background: white;
  padding: 1rem;
  margin-top: 1rem; }
  .comment input:not([type="checkbox"]) {
    width: 100%;
    font-family: inherit;
    margin: 20px 0px;
    height: 50px;
    padding: 10px;
    border: 1px solid #dadada;
    display: block;
    font-size: 14px; }
    .comment input:not([type="checkbox"]):focus {
      outline: 2px solid orange; }
  .comment textarea {
    width: 100%;
    font-family: inherit;
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid #dadada;
    display: block;
    font-size: 14px; }
    .comment textarea:focus {
      outline: 2px solid orange; }
  .comment button {
    display: block;
    font-family: inherit;
    margin: 20px 0px;
    padding: 10px 20px;
    background: orange;
    border: none;
    color: white;
    font-size: 1rem;
    transition: background .5s; }
    .comment button[type="submit"]:hover {
      background: #F0750F; }
  .comment ::placeholder {
    font-size: 1rem; }

/*End Comment Section*/
/*Media Query Section*/
@media all and (max-width: 768px) {
  p, .comment ::placeholder {
    font-size: 0.9rem; }
  .related-course h3 > a {
    font-size: 1rem; } }

/*End Media Query Section*/
.contact {
  width: 100%;
  padding: 1rem 0;
  display: flex; }
  @media (max-width: 768px) {
    .contact {
      flex-direction: column; } }
  .contact .map {
    flex-grow: 1;
    background: white;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    background: #dadada;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 768px) {
      .contact .map {
        height: 450px;
        margin-right: 0; } }
    .contact .map span {
      color: #777777; }
  .contact .contact-form {
    background: white;
    padding: 1rem;
    margin-top: 1rem;
    flex-grow: 1; }
    .contact .contact-form input {
      width: 100%;
      font-family: inherit;
      margin: 20px 0px;
      height: 50px;
      padding: 10px;
      border: 1px solid #dadada;
      display: block;
      font-size: 14px; }
      .contact .contact-form input:focus {
        outline: 2px solid orange; }
    .contact .contact-form textarea {
      width: 100%;
      font-family: inherit;
      margin: 20px 0px;
      padding: 10px;
      border: 1px solid #dadada;
      display: block;
      font-size: 14px; }
      .contact .contact-form textarea:focus {
        outline: 2px solid orange; }
    .contact .contact-form button {
      display: block;
      font-family: inherit;
      margin: 20px 0px;
      padding: 10px 20px;
      background: orange;
      border: none;
      color: white;
      font-size: 1rem;
      transition: background .5s; }
      .contact .contact-form button[type="submit"]:hover {
        background: #F0750F; }

.about-us {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem; }
  .about-us-content {
    flex-basis: 50%; }
    @media (max-width: 575px) {
      .about-us-content {
        flex-basis: 100%; } }
    .about-us-content section {
      margin-bottom: 1rem; }
      .about-us-content section h3 {
        margin-bottom: 1rem; }
      .about-us-content section p {
        font-style: italic;
        text-align: justify; }
  .about-us-image {
    flex-basis: 50%;
    padding-left: 1rem; }
    @media (max-width: 575px) {
      .about-us-image {
        flex-basis: 100%;
        padding: 0; } }
    .about-us-image img {
      width: 100%; }

.team {
  margin-top: 4rem;
  margin-bottom: 2rem; }
  .team-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .team-title p {
      color: #777777; }
  .team-member {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .team-member .card {
      flex-basis: 23%;
      background: white; }
      @media (max-width: 992px) {
        .team-member .card {
          flex-basis: 46%;
          margin-bottom: 1rem; } }
      @media (max-width: 575px) {
        .team-member .card {
          flex-basis: 100%; } }
      .team-member .card-container {
        position: relative;
        overflow: hidden; }
        .team-member .card-container img {
          width: 100%;
          height: auto;
          transition: transform 0.3s; }
          .team-member .card-container img:hover {
            transform: scale(1.1); }
        .team-member .card-container .caption {
          max-width: 90%;
          background: rgba(33, 37, 41, 0.8);
          position: absolute;
          bottom: 13%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          padding: 15px 30px; }
      .team-member .card-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .team-member .card-footer h4 {
          font-size: 20px;
          margin-top: 0.5rem; }
        .team-member .card-footer .social {
          display: flex;
          justify-content: space-between; }
          .team-member .card-footer .social a {
            text-decoration: none;
            font-size: 1.5rem;
            height: 40px;
            width: 40px;
            background: orange;
            color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.5rem 1rem 1rem; }
