$main-background : whitesmoke;
$text-primary : whitesmoke;
$text-secondary: #dadada;
$text-danger: tomato;
$text-dark: black;
$text-grey: #777777;
$background-primary: orange;
$background-primary-dark: #F0750F;
$background-danger: tomato;
$background-dark: black;
$background-light: white;
$background-secondary: #dadada;
$background-info: dodgerblue;